<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      h1 {color:#18bffc;font-weight: bold;margin:0px;font-size: 40px;}
      body {margin: 0; padding: 0; min-width: 100%!important;background-color:grey;}
      .container {max-width:650px ;height:100%;display: block; margin-left: auto; margin-right: auto;background-color:#ddd; color:black; padding:30px}

    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Fize</h1>
      <div class=''></div>
    </div>
  </body>
</html>