.container 
  .row.welcome
    .col-12
      %h1 Fize
      %h2.subtitle
        ยก Bienvenidos a
        = succeed " !" do
          %span Fize
    .buttons-section
      %h2.i-am
        Soy:
      .buttons
        =link_to 'Comercio', '/welcome' , class:'btn'
        =link_to 'Persona', '/welcome' , class:'btn'
      %h5.i-am Impulsado por:
      -# =image_tag 'continuum.jpeg'